# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~
.directory
.Trash-*

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Editor artifacts
*.swp
*.swo
*~
.idea/
.vscode/

# Local testing/private files
*.local
*.private
.env.local

# ZSH specific files
.zsh_history
.zsh_sessions/
.zcompdump*
.zlogin
.zlogout
